<div class="col-md-12">
  <div class="card card-user">
    <div class="">
      <div class="">
        <div class="col-md-6 col-6">
          <h5 class="card-title">Novo Edital</h5>
        </div>
        <div class="col-md-6 col-6 text-right">
          <!-- <button class="btn btn-sm btn-outline-danger btn-round btn-icon"><i class="fa fa-close"></i></button> -->
        </div>
      </div>

      <form>
        <div class="col-md-4">
          <div class="form-group">
            <label><strong>ID</strong></label>
            <input type="text" [(ngModel)]="dataEdital.uid" name="id" disabled="" class="form-control" placeholder="ID">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><Strong>Tipo</Strong></label>
            <select class="form-control" [(ngModel)]="dataEdital.tipos" name="tipos">
              <option *ngFor="let tipo of tipo" [value]="tipo">{{tipo}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Título</strong></label>
            <input type="text" [(ngModel)]="dataEdital.title" name="title" class="form-control"
              placeholder="Título do edital" required maxlength="50">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><Strong>Descrição</Strong></label>
            <quill-editor [styles]="editorStyle" [modules]="config" type="text" [(ngModel)]="dataEdital.descr"
              name="descr" [ngClass]="dataEdital.descr" class="form-control" placeholder="Descrição do edital"
              rows="10">
            </quill-editor>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Observação</strong></label>
            <input type="text" [(ngModel)]="dataEdital.obs" name="obs" [ngClass]="dataEdital.obs" class="form-control"
              placeholder="Uma breve observação" maxlength="50">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Requistos</strong></label>
            <quill-editor [styles]="editorStyle" [modules]="config" type="text" [(ngModel)]="dataEdital.requirements" name="requirements"
              [ngClass]="dataEdital.requirements" class="form-control" placeholder="Requisitos de documentação etc."
              rows="10"> </quill-editor>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Quantidade de vagas do edital</strong></label>
            <input type="number" [(ngModel)]="dataEdital.vagas" name="vagas" [ngClass]="dataEdital.vagas"
              class="form-control" placeholder="Digite as vagas">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Valor da bolsa, se houver.</strong></label>
            <input type="number" [(ngModel)]="dataEdital.valor" name="valor" [ngClass]="dataEdital.valor"
              class="form-control" placeholder="Informe ou valor ou deixe 0">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Link do edital</strong></label>
            <input type="url" [(ngModel)]="dataEdital.link" name="vagas" [ngClass]="dataEdital.link"
              class="form-control" placeholder="URL aqui" required>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>Calendario publicação</strong></label>
            <input type="date" [(ngModel)]="dataEdital.calendarfirst" name="calendar"
              [ngClass]="dataEdital.calendarfirst" class="form-control" placeholder="Calendario inicio-fim">
            <label><strong>Calendario fim da publicação</strong></label>
            <input type="date" [(ngModel)]="dataEdital.calendarend" name="calendar" [ngClass]="dataEdital.calendarend"
              class="form-control" placeholder="Calendario inicio-fim">
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="button" (click)="saveEdital(dataEdital)" class="btn btn-danger btn-round">Publicar
              edital</button>
          </div>
        </div>
      </form>
    </div>
  </div>