<div class="card ">
  <div class="card-header ">
    <h3 class="card-title">Bem vindo ao <span>AjudAí</span>!</h3>
  </div>
  <div class="col-md-12 text-center">
    <!--<img class="logo" src="assets/img/Brazao-UFPB.jpg" alt="LogoTipo"> -->
    <img class="logo" src="assets/img/logo-ajudai.jpg" class="logo-ajudai">
  </div>
  <div class="card-body ">
    <h5> Sistema desenvolvido para ajudar os estudantes da UFPB-Campus IV a encontrar os editais e auxílios com
      mais facilidade, diminuindo o tempo de pesquisa assim como permite os alunos sanarem suas
      possíveis dúvidas!</h5>
  </div>
  <div class="card-footer ">
    <div class="legend">
    </div>
  </div>
</div>

<div class="card-body ">

  <div class="card-header ">
    <h5 class="card-title">Utilidades</h5>
    <p class="card-category">links, sites, Utilidades</p>
  </div>

  <div class="container">
    <div class="row">
      <!-- COLUNA 1-->
      <div class="col-lg-4 col-md8 col-sm-6">

        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center text-primary">
                  <i class="nc-icon nc-user-run text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category"><span class="text-primary">ilovepdf</span></p>
                  <a href="https://www.ilovepdf.com/pt"><img style="height: 100px; width: 100px;"
                      src="assets/img/ilovepdf.jpg" class="ilovepdf"> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="nc-icon nc-alert-circle-i"></i> Ferramenta online e completamente gratuita para juntar PDF,
              dividir PDF,
              comprimir PDF, converter documentos Office para PDF, conversão de PDF para JPG, e JPG para PDF.
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md6 col-sm-4">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center text-warning">
                  <i class="nc-icon nc-user-run text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category"><span class="text-warning">Site da UFPB</span></p>
                  <a href="https://www.ufpb.br"><img style="height: 100px; width: 80px;"
                      src="assets/img/Brazao-UFPB.jpg" class="ilovepdf"> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="nc-icon nc-alert-circle-i"></i>UNIVERSIDADE FEDERAL DA PARAÍBA - UFPB
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md6 col-sm-4">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center text-danger">
                  <i class="nc-icon nc-user-run text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category"><span class="text-danger">AYTY</span></p>
                  <a href="https://www.ayty.org/index"><img style="height: 100px; width: 80px;"
                      src="assets/img/Ayth.jpg" class="ilovepdf"> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="nc-icon nc-alert-circle-i"></i> AYTY – Engenharia de Software Aplicada – é um laboratório que
              promove a integração entre a universidade e as empresas
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <!-- COLUNA 2-->
      <div class="col-lg-4 col-md6 col-sm-4">
          <!-- cards..-->
      </div>
    </div>
  </div>
</div>
<!-- 
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center text-gray">
                      <i class="nc-icon nc-user-run text-gray"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Quantidade de vagas</p>
                      <p class="card-title"><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="nc-icon nc-alert-circle-i"></i> Aproveite!
                </div>
              </div>
            </div>
          </div>
          -->




<div class="card-footer ">
  <div class="legend">
    <i class="fa fa-circle text-primary"></i> IlovePDF
    <i class="fa fa-circle text-warning"></i> UFPB
    <i class="fa fa-circle text-danger"></i> Ayty
    <!-- <i class="fa fa-circle text-gray"></i> Unopened -->
  </div>
</div>